<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <!-- เพิ่ม Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Upload Image</h2>
    <form action="http://localhost:5000/api/picture/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="newsId">News ID:</label>
            <input type="text" class="form-control" id="newsId" name="News_Id" required>
        </div>
        <div class="form-group">
            <label for="image">Select image:</label>
            <input type="file" class="form-control-file" id="image" name="newsPictures" multiple required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
<!-- เพิ่ม Bootstrap JS และ jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
