<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Member Dashboard</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <div class="header">
    <button class="toggle-btn" id="toggleButton">☰</button>
  </div>

  <div class="sidebar" id="sidebar">
    <a href="/views/dashboard.html">Dashboard</a>
    <div class="dropdown">
      <a href="#" class="dropdown-toggle" id="adminDropdown">Admin</a>
      <div class="dropdown-content" id="adminDropdownContent">
        <a class="dropdown-item" href="../admin/admin.html">Admin Dashboard</a>
      </div>
    </div>

    <div class="dropdown">
      <a href="#" class="dropdown-toggle" id="categoryDropdown">Category</a>
      <div class="dropdown-content" id="categoryDropdownContent">
        <a class="dropdown-item" href="../category/category.html">Category Dashboard</a>
        <a class="dropdown-item" href="../category/sub_category.html">Sub Category Dashboard</a>
      </div>
    </div>

    <div class="dropdown">
      <a href="#" class="dropdown-toggle" id="majorDropdown">Major</a>
      <div class="dropdown-content" id="majorDropdownContent">
        <a class="dropdown-item" href="../major/major.html">Major Dashboard</a>
      </div>
    </div>

    <div class="dropdown">
      <a href="#" class="dropdown-toggle" id="memberDropdown">Member</a>
      <div class="dropdown-content" id="memberDropdownContent">
        <a class="dropdown-item" href="../member/member.html">Member Dashboard</a>
        <a class="dropdown-item" href="../favorite_category/favorite_category.html">Favorite Category Dashboard</a>
        <a class="dropdown-item" href="../read_later/read_later.html">Read Later Dashboard</a>
        <a class="dropdown-item" href="../read_history/read_history.html">Read History Dashboard</a>
      </div>
    </div>

    <div class="dropdown">
      <a href="#" class="dropdown-toggle" id="newsDropdown">News</a>
      <div class="dropdown-content" id="newsDropdownContent">
        <a class="dropdown-item" href="../news/news.html">News Dashboard</a>
        <a class="dropdown-item" href="../total_read/total_read.html">Total Read Dashboard</a>
        <a class="dropdown-item" href="../picture/picture.html">Picture Dashboard</a>
        <a class="dropdown-item" href="../news_sub_cate/news_sub_cate.html">News Sub Category</a>
        <a class="dropdown-item" href="../news_rating/news_rating.html">News Rating Dashboard</a>
      </div>
    </div>

    <div class="dropdown">
      <a href="#" class="dropdown-toggle" id="work_statusDropdown">Work status</a>
      <div class="dropdown-content" id="work_statusContent">
        <a class="dropdown-item" href="../work_status/work_status.html">Work status Dashboard</a>
      </div>
    </div>

    <button id="logoutButton" class="btn btn-danger">Logout</button>
  </div>

  <div class="content" id="content">
    <h1 class="text-center mt-5">Member Dashboard</h1>
    <a href="add-member.html" class="btn btn-success">Add New Member</a>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="member-rows">
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/scripts/dropdown.js"></script>
  <script src="/scripts/sidebar.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      fetch('http://localhost:5000/api/member')
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json();
        })
        .then(data => {
          const tableBody = document.getElementById('member-rows');
          data.forEach(member => {
            const tr = document.createElement('tr');
            tr.innerHTML = `<td>${member.Mem_Id}</td>
                                        <td>${member.Mem_Fname}</td>
                                        <td>${member.Mem_Lname}</td>
                                        <td>${member.Mem_Username}</td>
                                        <td>${member.Mem_Email}</td>
                                        <td>${member.Mem_Phone}</td>
                                        <td>${member.Mem_Status}</td>
                                        <td>
                                            <button onclick="editMember('${member.Mem_Id}')" class="btn btn-primary">Edit</button>
                                            <button onclick="deleteMember('${member.Mem_Id}', this)" class="btn btn-danger">Delete</button>
                                        </td>`;
            tableBody.appendChild(tr);
          });
        })
        .catch(error => {
          console.error('Error loading the member data:', error);
          const tableBody = document.getElementById('member-rows');
          tableBody.innerHTML = '<tr><td colspan="8">Failed to load data</td></tr>';
        });
    });

    function deleteMember(memberId, element) {
      if (confirm('ต้องการที่จะลบข้อมูลสมาชิกคนนี้ ?')) {
        fetch(`http://localhost:5000/api/member/${memberId}`, {
          method: 'DELETE'
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response not ok');
            }
            return response.text(); // เปลี่ยนเป็น text() หากคำตอบไม่ใช่ JSON
          })
          .then(data => {
            alert('ลบข้อมูลสมาชิกสำเร็จ');
            element.parentNode.parentNode.remove(); // Removes row from table
          })
          .catch(error => {
            console.error('ลบข้อมูลสมาชิกไม่สำเร็จ:', error);
            alert(error.message);
          });
      }
    }

    function editMember(memberId) {
      window.location.href = `./edit-member.html?id=${memberId}`;
    }
  </script>

</body>

<script>
  $(document).ready(function () {
    if (localStorage.getItem('isLoggedIn') !== 'true') {
      window.location.href = '../views/login.html';
    }
    $('#logoutButton').click(function () {
      localStorage.removeItem('isLoggedIn');
      window.location.href = '/views/login.html';
    });
  });
</script>

</html>